.switch-button {
    width: 44vw;
    height: 6vw;
  
    border-radius: calcView(16);
    position: relative;
    cursor: pointer;
    // background-image: url("../images/event-gifting/leaderboard-slide-button.png");

    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    
  }
  
  .slider-button {
    width: 50%;
    height: 7vw;
  
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s;
    background-image: url("../images/event-gifting/leaderboard-slide-button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    font-family: "HiJack";
    font-size: calcView(26);
    color: #fff986;
  }
  
  .mt1{
margin-top: 1vw;
  }
  .mt4{
margin-top: 4vw;
  }
  
  .slider-button.on {
    transform: translateX(21vw);
  }
  
  .slider-handle {
    width: 50%;
    height: 6vw;
    // border-radius: 50%;
    position: absolute;
    top: 4px;
    transition: transform 0.2s;
  }
  
  .slider-button.on .slider-handle {
    transform: translateX(4px);
    background-color: #fff;
  }
  
  .slider-button.off .slider-handle {
    transform: translateX(0);
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  